name: "Enable the periodic workflow"

on:
  workflow_dispatch:

jobs:
  do-work:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Enable workflow
        run: gh workflow enable periodic-work.yml
